
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

$left-gutter: 1.0rem;

body {
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr 300px;
  height: 90px;
  background-color: #85a2e0;
  padding-top: 0;
  margin-bottom: .5em;
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fugalist {
  margin-left: $left-gutter;
  margin-right: 1rem;
  font-family: "Roboto Thin", sans-serif;
  font-weight: normal;
  font-size: xx-large;
  color: rgba(2,6,49,1);
  text-decoration: none;
}

.fugalist:hover {
  color: rgba(4,10,76,1);
}

.name {
  font-size: x-large;
  margin-top: .5em;
  margin-bottom: .5em;
}

.main-body {
  padding-left: $left-gutter;
}

.contributor {
  margin-bottom: .5rem;
}

.ad {
  background-color: #963636;
}

.section {
  font-weight: bold;
  margin-right: 0.5rem;
}

.audio {
  height: 1rem;
  width: 30rem;
  flex-basis: 1fr;
}

.demo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: .5rem

}

.demo-label {
  flex-basis: 10rem;
  margin-left: 2rem;
}

